<div id="navbar1">

    <nav class="navbar">
        <div class="fluid-container">
            <img id="whitedot1" src="../assets/nav1.png" alt="">
            <img id="whitedot2" src="../assets/nav1.png" alt="">
            <img id="whitedot3" src="../assets/nav1.png" alt="">


        </div>
    </nav>
</div>
<div class="nav2">
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
            <a class="navbar-brand" routerLink="/main">Hippo&crate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" id="home" routerLink="/main">crush plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="product" href="#">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="about" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="blog" href="#">blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="#"><img id="user" src="../../assets/user.png" alt=""></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><img  id="cart" src="../../assets/cart.png" alt=""></a>
                  </li>
                
              </ul>
            </div>
          </nav>


    
</div>