<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="aboutwebsite">
  <div class="intro">
    <div class="boximg">
      <img id="boxImg" src="../assets/bgteeth.PNG" alt="">
    </div>
    <div class="abProduct">
      <p id="toothcare">Beautiful toothCare<br></p>
      <p id="toothcare1">Delivered to your door.</p>
      <p id="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam inventore nobis laborum sed soluta at debitis ipsa consequuntur repellat tenetur, voluptates labore neque culpa adipisci tempora molestiae assumenda porro deleniti!</p>
    <button class="explorebtn">Explore brand Plans</button>
    </div>
  </div>
</div>
<div class="collectserviceid">
<div class="d-flex flex-row">
  <div class="p-4"> <img id="icon" src="../assets/v.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde<br> omnis iste natus error <br>sit voluptatem</p></div>
  <div class="p-4"> <img id="icon" src="../assets/v1.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde <br>omnis iste natus error<br> sit voluptatem</p></div>
  <div class="p-4"><img id="icon" src="../assets/v2.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde <br>omnis iste natus error<br> sit voluptatem</p></div>
</div>
</div>

<div class="brushcare">
<div class="brushbg">
<img id="brushbg" src="../assets/brushbg.jpg" alt="">
</div>
<div class="intro">
  <h1 id="why">Why we'r different</h1>
  <div class="para"> Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium doloremque
    laudantium, totam rem aperiam, eaque
    <div>
    <a  (click)="arrow()"><img id="arrow" src="../assets/arrow.png" alt=""></a>
  </div>
  </div>
  
</div>
</div>


<div class="quality">
<div class="qualityimg">
  <img id="qualityimg" src="../assets/brush.jpg" alt="">
</div>
<div class="qualityinfo">
  <div class="abProduct">
    <p id="BetterQality">Better Quality<br></p>
    
    <p id="lorem2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam inventore nobis laborum sed soluta at debitis ipsa consequuntur repellat tenetur, voluptates labore neque culpa adipisci tempora molestiae assumenda porro deleniti!</p>
  <button class="explorebtn2">Find out why!</button>
  </div>
</div>

<div class="quality1">
  <div class="qualityimg1">
    <img id="qualityimg1" src="../assets/brush.jpg" alt="">
  </div>
  <div class="qualityinfo1">
    <div class="abProduct1">
      <p id="BetterQality1">Better for you<br></p>
      
      <p id="lorem3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam inventore nobis laborum sed soluta at debitis ipsa consequuntur repellat tenetur, voluptates labore neque culpa adipisci tempora molestiae assumenda porro deleniti!</p>
    <button class="explorebtn3">See How</button>
    </div>
  </div>

</div>